<{% extends "trips/base.html" %}

{% block content %}
<div class="container">
    <h1>Crear Lugar</h1>
    <form method="post">{% csrf_token %}
        <div class="mb-3">
            <label class="form-label">Nombre</label>
            <input type="text" class="form-control" name="nombre" required>
        </div>
        <div class="mb-3">
            <label class="form-label">Descripción</label>
            <textarea class="form-control" name="descripcion"></textarea>
        </div>
        <button type="submit" class="btn btn-success">Crear</button>
    </form>
</div>
{% endblock %}
